---
layout: base
---

{{ content }}
<div>
    <div>
        <h1>Info</h1>
        <p>Camera Make: {{exif_camera_make}}</p>
        <p>Camera Model: {{exif_camera_model}}</p>
        <p>Downloads: {{stats_downloads}}</p>
        <p>Photo Submitted On: {{photo_submitted_at}}</p>
        <p>Tags: {{tags}}</p>
    </div>
    <div>
        <h1>Credit</h1>
        <p>Photographer Name: {{photographer_first_name}} {{photographer_last_name}}</p>
        <p>Username: {{photographer_username}}</p>
    </div>
</div>